.maru{
  padding-bottom: 10px;
  list-style: none;
  font-size: 15px;
}

.y{
  padding: 20px 20px;
  font-size: 25px;
}

p{
  padding-left: 10px;
  margin-top: 0px;
  font-size: 18px;
}

textarea{
  padding-right: 500px;
  margin-bottom: 30px;
}

.mo{
  padding-right: 450px;
}

button{
 padding: 50px;
 margin: 0px 0px 50px 70px;
}

.no{
  margin-bottom: 10px;
}
